.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidenav button {
  width: 100%;
  justify-content: flex-start;

}

.toggle-button {
  width: 5%;
  margin: 8px;
  background: #aeb3b7;
}

.content {
  padding: 16px;
}
.logo-container {
  text-align: center;
  margin-bottom: 16px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  max-height: 80px;
}

.active-button {
  background-color: #1D4ED8 ;
  color: #FFFFFF;
  border: 1px solid rgb(0, 1, 213);
}
